@use 'variables' as v; 
@use 'mixins' as m;

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary-color;
}

.section-pd {
    padding: 5rem 0;

    @include m.tablet {
        padding: 8rem 0;
    }
}