// Fonts
$primary-font-family: 'Poppins', sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Color Palette
$primary-color: #84d9bc;
$secondary-color: #313c4e; 
$secondary-opacity: rgb( 57 70 89 / .7 );
$dark-color: #000;
$light-color: #FFFFFF;
