@use 'base/variables' as v; 
@use 'base/mixins' as m;

/* HEADER SECTION */
.header {
    @include m.bgImage('../images/header.jpg', v.$secondary-opacity);
    height: 100vh;

    &__flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__img {
        max-width: 20rem;
        padding: 5rem 0;
        margin: 0 auto;

        @include m.tablet {
            margin: 0;
        }
    }

    &__content {
        padding-bottom: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            align-items: flex-start;
            padding-bottom: 13rem;
        }
    }

    &__heading {
        color: v.$light-color;
        font-size: 4.5rem;
        text-align: center;

        @include m.tablet {
            text-align: left;
            font-size: 5rem;
            max-width: 55%;
        }

        @include m.desktop {
            font-size: 6.5rem;
            width: 50%;
        }
    }

    &__button {
        margin-top: 1rem;
        @include m.button(v.$primary-color, v.$light-color);
        font-size: 2.5rem;
    }
}