@use 'base/variables' as v;
@use 'base/mixins' as m;

.plans {
    @include m.bgImage('', v.$secondary-color);

    &__heading {
        margin-top: 0;
        @include m.tablet {
            margin-top: 5rem;
        }
        color: v.$light-color;
        @include m.underline(v.$primary-color);
    }

    &__text {
        color: v.$light-color;
    }
}

.our-plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0 3rem;

    
    @include m.tablet {
        max-width: 80rem;
        flex-direction: row;
        margin: 10rem auto 5rem;
    }

    @include m.desktop {
        margin-top: 15rem;
    }
}

.plan {
    background-color: v.$light-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    padding: 15rem 22% 8rem;

    @include m.tablet {
        flex-grow: 1;
        padding: 20rem 3rem 5rem;
    }

    @include m.desktop {
        padding-inline: 6rem;
    }

    border-bottom: 1px solid #dddddd;

    @include m.tablet {
        border: none;
        transition: transform .3s ease-in-out;
        -webkit-transition: transform .3s ease-in-out;
        -moz-transition: transform .3s ease-in-out;
        -ms-transition: transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }

    &__heading,
    &__price,
    &__item {
        color: v.$secondary-color;
    }

    &__heading {
        margin: 0;
    }

    &__price {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__item {
        text-align: center;
        margin-bottom: 1.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__button {
        margin-top: 2rem;
        @include m.button(v.$primary-color, v.$light-color);

        &--premium {
            border: 1px solid v.$light-color;

            &:hover {
                color: v.$secondary-color;
                background-color: v.$light-color;
            }
        }
    }

    &--start {
        @include m.bgIcon('../images/icono_inicio.svg');
    }

    &--premium {
        order: -1;
        background-color: v.$primary-color;
        @include m.bgIcon('../images/icono_negocio.svg');
        
        @include m.tablet {
            order: 0;
            z-index: 100;
            margin: -6rem 0;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            background-position: 50% 7rem;
            background-size: 14rem;
            padding-top: calc(20rem + 5rem);
        }
    }

    &--pro {
        @include m.bgIcon('../images/icono_pro.svg');
    }
}