@use 'base/variables' as v;
@use 'base/mixins' as m;

.scroll-down-buttons {
    position: fixed;
    bottom: 30px;
    right: 45%;
    z-index: 999;

    @include m.tablet {
        right: 50%;
        left: 50%;
    }
}
  
#scroll-down-button {
    background-color: v.$light-color;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;

    animation: bounce 1s ease-in-out infinite;
    -webkit-animation: bounce 1s ease-in-out infinite;

    & img {
        width: 30px;
        height: 30px;
        margin: .2rem auto 0;
    }
}

#scroll-down-button:hover {
    background-color: v.$secondary-color;
}

/* Bounce animation */
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }