@use 'base/variables' as v;
@use 'base/mixins' as m;

.statistics {
    &__heading {
        margin-top: 0;
        @include m.tablet {
            margin-top: 5rem;
        }
        color: v.$secondary-color;
        @include m.underline(v.$primary-color);
    }

    &__img {
        margin-top: 3rem;
        box-shadow: 0px 8px 15px rgba(v.$secondary-opacity, .5);
    }
}